*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  background-color: rgb(241, 241, 241);
  text-align: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

input{
  margin: .5rem;
  border-radius: .3rem;
  border: none;
  padding: .3rem;
  width: 15rem;
}

.titulo{
margin: 1rem;
}

.btn {
  padding: 10px 20px;
  margin: 1rem;
  width: 10rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  background-color: #45a049;
}
.btn:active {
  background-color: #3e8e41;
}